---
import { siteMetaData } from '~/constants/meta-data'
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { getPreferredLanguage } from '~/utils/language'
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)
---

<Layout>
  <main>
    <h1>{t(userLanguage, 'error:pageNotFound')}</h1>
    <p>
      <a href="/">Go home</a>
    </p>
    <p>
      <a href="/search">Search for something</a>
    </p>
    <p>
      Should there be a page here? <a href={siteMetaData.suggestions}
        >Report it</a
      >
    </p>
  </main>
</Layout>
