---
import Layout from '~/layouts/Layout.astro'
import { getPreferredLanguage } from '~/utils/language'
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)
---

<Layout>
  <main>
    <h1>Editions!!1</h1>
  </main>
</Layout>
