---
import SearchFilterContent from '~/components/search-filter-content.astro'
import { t } from '~/i18n'
import { getPreferredLanguage } from '~/utils/language'

const pathname = Astro.url.pathname

interface Props {
  matchPartial?: boolean
  query?: string | null
  autoFocus?: boolean
}

const { matchPartial = false, query, autoFocus = true } = Astro.props

const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)
---

<form action="/search" method="get" role="search">
  <fieldset>
    <label for="search-input" class="sr-only"
      >{t(userLanguage, 'search:search')}</label
    >
    <input
      id="search-input"
      type="search"
      placeholder={`${t(userLanguage, 'search:search')}…`}
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      name="query"
      required
      autofocus={autoFocus}
      value={query}
    />
    <button aria-label={t(userLanguage, 'search:search')} type="submit"
      >🔎</button
    >
  </fieldset>
  <fieldset>
    <legend class="sr-only">{t(userLanguage, 'search:searchOptions')}</legend>
    <label>
      {t(userLanguage, 'search:matchPartial')}
      <input
        type="checkbox"
        name="matchpartial"
        value="true"
        checked={matchPartial}
      />
    </label>
    {
      pathname !== '/search-filter' && (
        <label>
          <span class="sr-only">Filter</span>
          <button
            type="button"
            popovertarget="search-filters-modal"
            aria-label={t(userLanguage, 'interface:searchFilter')}
          >
            ⚙️
          </button>
        </label>
      )
    }
    <!-- <label>
      <span class="sr-only">Languages</span>
      <button type="button" aria-label={t(userLanguage, 'languages TODO')}
        >🌐
      </button>
    </label> -->
  </fieldset>
</form>

{
  pathname !== '/search-filter' && (
    <section id="search-filters-modal" popover>
      <SearchFilterContent />
    </section>
  )
}

<style>
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;

    fieldset:first-of-type {
      display: flex;
      flex: 1;
      margin: 0;
      padding: 0.4rem;
      border: 1px solid;
      border-radius: var(--rounding);
      border-color: var(--bg-alt-4);

      &:focus-within {
        border-color: inherit;
      }

      input {
        width: 100%;
        border: none;
        background-color: inherit;
        color: inherit;
        font-size: large;

        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
        background: none;
        font-size: inherit;
        cursor: pointer;
      }
    }

    > label {
      display: flex;
      align-items: center;
      align-self: end;
      gap: 0.25rem;
      white-space: nowrap;
      cursor: pointer;
    }

    fieldset:nth-of-type(2) {
      border: none;
      padding: 0;
      display: flex;
      justify-content: end;
      gap: 0.5rem;

      button {
        border: none;
        background: none;
        cursor: pointer;
        border-radius: var(--rounding);

        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
</style>

<script>
  'use strict'

  const popover = document.getElementById('search-modal')

  document.addEventListener('keydown', function (event) {
    if (popover && (event.metaKey || event.ctrlKey) && event.key === 'k') {
      event.preventDefault()
      popover.togglePopover()
    }
  })
</script>
