:root {
  --content-max-width: 600px;
  --rounding: 0.2rem;
  --width-minus-padding: calc(100% - 2rem);
  --content-double-width: calc(var(--content-max-width) * 2);
  --content-double-width-gap: calc(var(--content-max-width) * 2 + 1rem);

  --serif-font:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;

  /* System colors */
  --background-color: Canvas;
  --background-color-secondary: ButtonFace;
  --footer-background-color: ButtonFace;
  --popover-background-color: Field;
  --text-color: CanvasText;
  --text-color-secondary: GrayText;
  --headings-color: CanvasText;
  --primary-color: AccentColor;
  --primary-color-alt: AccentColor;
  --shadow-color: GrayText;
  --tts-highlight-text-color: HighlightText;
  --tts-highlight-background-color: Highlight;
  --tts-hover-background-color: ButtonFace;
  --details-summary-hover-background: ButtonFace;
  --comments-background-color: Field;
  --comments-border-color: ButtonBorder;
}
