main {
  & > section {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1rem;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    & > nav {
      position: sticky;
      top: 1rem;
    }
  }
}
