/* @import 'tailwindcss';
@plugin "daisyui" {
  exclude: properties;
} */

:root {
  color-scheme: light dark;

  font-family:
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}

:where(article h1, section h1, nav h1, aside h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
