/* @import 'tailwindcss';
@plugin "daisyui" {
  themes:
    bumblebee --default,
    halloween --prefersdark;
  exclude: properties;
} */
@import url(./_variables.css);

:root {
  color-scheme: light dark;
  font-family: var(--serif-font);
}

input,
textarea,
select,
button {
  font-family: inherit;
}

h1 {
  text-wrap: balance;
}
h6 {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}

:where(article h1, section h1, nav h1, aside h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: var(--primary-color);

  &:visited {
    color: var(--primary-color-alt);
  }

  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--primary-color);
    text-decoration: none;
  }

  &::selection {
    background-color: var(--blue-dim);
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  > header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0;
      margin: 0;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        list-style-type: none;
        display: flex;
        word-break: keep-all;
        text-wrap: nowrap;
        white-space: nowrap;

        &:first-of-type a {
          text-decoration: none;
        }

        &::after {
          content: '/';
          margin-left: 0.5rem;
          color: var(--gray);
        }

        &:last-child::after {
          content: '';
        }
      }
    }

    button[popovertarget='search-modal'] {
      cursor: pointer;
      background: none;
      border: none;

      &:focus,
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  main {
    margin: auto;
    flex: 1;
    padding: 0 1rem;
    max-width: var(--content-max-width);
    width: var(--width-minus-padding);
  }

  > footer {
    background-color: var(--footer-background-color);
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--headings-color);

    p:first-of-type {
      font-weight: 800;
    }

    p:nth-of-type(2) {
      font-weight: 600;
    }

    ul {
      max-width: var(--content-max-width);
      margin: 1rem auto;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li:not(li:last-of-type) {
        margin-right: 0.5rem;

        &::after {
          content: '∙';
          margin-left: 0.5rem;
        }
      }
    }
  }
}
