/* @import 'tailwindcss';
@plugin "daisyui" {
  themes:
    bumblebee --default,
    halloween --prefersdark;
  exclude: properties;
} */
@import url(./_variables.css);

:root {
  color-scheme: light dark;
  font-family: var(--serif-font);
}

input,
textarea,
select,
button {
  font-family: inherit;
}

h1 {
  text-wrap: balance;
}
h6 {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}

:where(article h1, section h1, nav h1, aside h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: var(--primary-color);

  &:visited {
    color: var(--primary-color-alt);
  }

  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--primary-color);
    text-decoration: none;
  }

  &::selection {
    background-color: var(--blue-dim);
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  main {
    margin: auto;
    flex: 1;
    padding: 0 1rem;
    max-width: var(--content-max-width);
    width: var(--width-minus-padding);
  }
}

[popover] {
  color: var(--text-color);
  border: none;
  box-shadow: 0 0.3rem 1rem var(--shadow-color);
  border-radius: var(--rounding);
  padding: 1rem;
  background-color: var(--popover-background-color);
  max-width: calc(min(320px, 100vw) - 2rem);
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
}

/* These classes come are from SC (they need to be global to work): */
/* /define */
dd .eti {
  color: var(--text-color-secondary);
  font-size: small;
}
