.byline {
  font-style: italic;
}

.static-copyright {
  background-color: var(--background-color-secondary);
  padding: 1em 2em;
  border-radius: var(--rounding);
}

table {
  margin: 2em auto 1em;
  border-collapse: collapse;

  td:first-child {
    font-weight: bold;
  }
}
