ol li a:has(.reference) {
  color: unset;
  background-color: unset;
  border: 1px solid ButtonBorder;
  border-radius: var(--rounding);
  padding: 0.2rem;
  text-decoration: none;
  color: GrayText;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  font-weight: initial;

  &:hover {
    background-color: ButtonFace;
  }
}

/* This class comes through from SC to highlight search term(s) in results  */
.highlight {
  background-color: var(--tts-hover-background-color);
  color: var(--tts-highlight-text-color);
}
