table {
  margin: 2em auto 1em;
  border-collapse: collapse;

  tr {
    vertical-align: middle;

    td {
      padding: 0.6667em;
      vertical-align: text-top;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  caption {
    font-weight: 600;
    padding: 1em;
  }
}
