span[title] {
  cursor: help;
}

hgroup:has(p) {
  h1,
  h2,
  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    color: var(--text-color-secondary);
  }
}

.leaf-node {
  list-style: none;
  border: 1px solid var(--bg-alt-1);
  border-radius: var(--rounding);
  padding: 1rem;
  margin-bottom: 1rem;

  h1 {
    font-size: x-large;
    margin-top: 0;
  }
}

/* The only place this is h2 is in second column of search results */
ol:nth-of-type(2) li h2 {
  margin-top: 0;
}
