---
import '@/assets/global.css'
import SearchForm from '@/components/search-form.astro'
import SiteFooter from '@/components/site-footer.astro'
import SiteHeader from '@/components/site-header.astro'
import { getPreferredLanguage } from '@/utils/language'

const pathname = Astro.url.pathname
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)
interface Props {
  title?: string
  description?: string
  breadcrumbs?: string[] // TODO: wrong type
}

const { title, description, breadcrumbs } = Astro.props
---

<!doctype html>
<html lang={userLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title && `${title} ∙ `} SuttaCentral.now</title>
    <script defer src="https://scripts.simpleanalyticscdn.com/light.js"
    ></script>
  </head>
  <body>
    <SiteHeader breadcrumbs={breadcrumbs} />
    <slot />
    <SiteFooter />
    {
      !pathname.startsWith('/search') && (
        <section id="search-modal" popover>
          <SearchForm />
        </section>
      )
    }
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
  </body>
</html>
